<form autocomplete="off">
    {{> "N5E.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "N5E.ChakraDie"}}</label>
        <span class="form-field-readonly">{{chakraDie}}</span>
    </div>
</form>