<form autocomplete="off">
  {{> "n5e.advancement-controls"}}
  <div class="form-group">
    <label>{{localize "N5E.AdvancementItemGrantOptional"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="configuration.optional" {{checked configuration.optional}}>
    </div>
    <p class="hint">{{localize "N5E.AdvancementItemGrantOptionalHint"}}</p>
  </div>

  {{#if showJutsuConfig}}
    {{> "n5e.advancement-jutsu-config"}}
  {{/if}}

  <div class="drop-target">
    <ol class="items-list">
      <li class="items-header flexrow"><h3 class="item-name">{{localize "DOCUMENT.Items"}}</h3></li>
      <ol class="item-list">
      {{#each configuration.items}}
        <li class="item flexrow" data-item-uuid="{{this}}">
          <div class="item-name">{{{n5e-linkForUuid this}}}</div>
          <div class="item-controls flexrow">
            <a class="item-control item-action" data-action="delete" data-tooltip="N5E.ItemDelete">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
      {{/each}}
      </ol>
    </ol>

    <p class="hint centered">{{localize "N5E.AdvancementItemGrantDropHint"}}</p>
  </div>
</form>