.n5e.advancement {
  input[type="text"], input[type="number"], select {
    height: var(--form-field-height);
    &[readonly] {
      color: var(--color-text-dark-6);
      box-shadow: none;
    }
  }
  .form-group .form-fields button {
    flex: 0;
  }
  .form-group .form-field-readonly {
    color: #999;
  }

  /* ----------------------------------------- */
  /*  Advancement Selection                    */
  /* ----------------------------------------- */
  .items-list {
    margin-bottom: 1em;

    li.item {
      padding-top: 0.25em;
    }
    .item-hint {
      flex: 0 1 100%;
      margin-left: 35px;
      margin-bottom: 0.5em;
    }

    /* Solves the borders being cut off */
    .content-link {
      display: inline-block;
    }
  }

  .centered {
    text-align: center;
  }

  /* ----------------------------------------- */
  /*  Two Column Configurations                */
  /* ----------------------------------------- */
  &.two-column {
    --grid-two-column-left-size: 1fr;
    --grid-two-column-right-size: 1fr;

    form {
      display: grid;
      grid-template-columns: var(--grid-two-column-left-size) var(--grid-two-column-right-size);
      grid-template-areas: "left right";
      grid-gap: 0.4em;

      .left-column {
        grid-area: left;
        display: flex;
        flex-direction: column;

        > .form-group { flex: none; }
        > .drop-target { flex: 1; }
      }
      .right-column {
        grid-area: right;

        &.level-list {
          label {
            flex: 0.5;
            padding-right: 0.5rem;
            text-align: end;
          }
          :is(input[type="text"], input[type="number"])::placeholder {
            opacity: 0.5;
          }
        }
      }
      button[type="submit"] {
        grid-column-end: span 2;
      }
    }
  }

  form[data-type="AbilityScoreImprovement"] {
    .ability-scores {
      contain: layout;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      margin-block-end: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      & > label {
        grid-area: auto / span 3;
        margin-block: 0.5em 0;
        padding: 0;
        font-size: var(--font-size-18);
      }

      li {
        display: grid;
        grid-template:
          "label label label label"
          "minus value value plus"
          "minus delta delta plus";
        align-items: center;
        &.hint {
          display: block;
          grid-column: 2 / 4;
          text-align: start;
          align-self: end;
        }
        label {
          grid-area: label;
          font-size: var(--font-size-18);
        }
        a {
          font-size: var(--font-size-16);
          padding: 0.5em;
          &:not([data-action]) {
            opacity: 33%;
            cursor: default;
            &:hover {
              text-shadow: none;
            }
          }
        }
        .minus { grid-area: minus; }
        .plus { grid-area: plus; }
        input {
          grid-area: value;
          height: 1.5em;
          border: none;
          background: none;
          font-size: var(--font-size-28);
        }
        .delta {
          grid-area: delta;
          font-size: var(--font-size-16);
          font-weight: bold;
          i {
            font-size: var(--font-size-12);
          }
        }
      }
      &.disabled li {
        opacity: 60%;
      }
    }
    .drop-area {
      padding-block: 0.5em;
      h4 {
        font-size: var(--font-size-16);
      }
      a.item-control {
        flex: 0;
      }
    }
    .drop-area.empty {
      padding-block: 1em;
      border: 1px dashed var(--color-border-light-2);
      border-radius: 5px;
      justify-content: center;
    }
  }

  /* ----------------------------------------- */
  /*  Item Choice                              */
  /* ----------------------------------------- */
  &.item-choice {
    --grid-two-column-right-size: 0.5fr;

    .level-list .hint {
      text-align: end;
    }

    .form-group:has(textarea) {
      align-items: flex-start;
    }

    textarea {
      margin-inline-start: 8px;
      border: 1px solid var(--color-border-light-tertiary);
      font-family: var(--font-primary);
      font-size: var(--font-size-12);
      height: 100px;
    }
  }

  /* ----------------------------------------- */
  /*  Scale Value                              */
  /* ----------------------------------------- */
  &.scale-value {
    --grid-two-column-right-size: 0.6fr;

    select {
      &.new-scale-value {
        font-weight: bold;
      }

      option[value=""] {
        color: var(--color-text-light-6);
      }
    }
  }
}

.n5e.advancement-migration {
  .items-list {
    margin-block-end: 1em;
  }
}

/* ----------------------------------------- */
/*  Advancement Flow                         */
/* ----------------------------------------- */
.n5e.advancement.flow {
  .step {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 { flex-grow: 1; }
    h2 {
      text-align: right;
      line-height: 1.8em;
      border-bottom: 2px solid var(--color-underline-header);
    }
    form { flex-basis: 100%; }
  }

  h3 {
    font-size: var(--font-size-20);
  }

  .item-name {
    .item-image {
      flex: 0 0 30px;
      height: 30px;
      background-size: cover;
      background-position: 50% 0;
      margin-inline-end: 5px;
    }
    label {
      align-items: center;
      h4 {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  }

  form:not(:last-of-type) {
    margin-block-end: 0.5em;
    border-block-end: 2px groove var(--color-border-light-1);
    padding-block-end: 1em;
  }

  input.error {
    outline: 2px solid red;
  }

  form[data-type="ChakraPoints"], form[data-type="HitPoints"] {
    div {
      font-size: var(--font-size-14);
    }
    .rolls {
      display: grid;
      grid-template-columns: 50% 1fr 1fr;
      align-items: center;
      gap: 2px;

      .averageLabel {
        span, input { vertical-align: middle; }
      }
      .rollResult {
        text-align: center;
      }
      .rollButton {
        height: calc(var(--form-field-height) + 5px);
        line-height: 1.5em;
      }
    }
  }

  form[data-type="ItemChoice"] {
    .item-name .item-delete {
      flex: 0 0 20px;
      margin-inline-end: 1px;
    }
  }

  form[data-type="ScaleValue"] {
    p {
      margin-block-end: 0;
      font-size: var(--font-size-18);
    }
    span.none { font-style: italic; }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 1em;
    button {
      max-width: 50%;
    }
  }
}