<form>
    <div class="form-group">
        <label>{{ localize "N5E.Formula" }}</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>
    {{#if chooseModifier}}
    <div class="form-group">
        <label>{{ localize "N5E.AbilityModifier" }}</label>
        <select name="ability">
            {{selectOptions abilities selected=defaultAbility labelAttr="label"}}
        </select>
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "N5E.RollSituationalBonus" }}</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'N5E.RollExample' }}"/>
    </div>
    <div class="form-group">
        <label>{{ localize "N5E.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
        </select>
    </div>
</form>