<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" alt="{{actor.name}}" data-edit="img">
        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'N5E.Name'}}">
            </h1>
            <ul class="summary flexrow">
                <li>
                    <span>{{summary}}</span>
                </li>
            </ul>

            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{localize "N5E.GroupHP"}}</h4>
                    <div class="attribute-value">
                        <span class="value" data-tooltip="N5E.HitPointsCurrent">{{currentHP}}</span>
                        <span class="sep"> &sol; </span>
                        <span class="value" data-tooltip="N5E.HitPointsMax">{{maxHP}}</span>
                    </div>
                </li>
                <li class="attribute spirit">
                    <h4 class="attribute-name box-title">{{localize "N5E.GroupCP"}}</h4>
                    <div class="attribute-value">
                        <span class="value" data-tooltip="N5E.ChakraPointsCurrent">{{currentCP}}</span>
                        <span class="sep"> &sol; </span>
                        <span class="value" data-tooltip="N5E.ChakraPointsMax">{{maxCP}}</span>
                    </div>
                </li>
                <li class="attribute movement">
                    <h4 class="attribute-name box-title">{{localize "N5E.Movement"}}</h4>
                    <a class="action-button config-button" data-action="movementConfig"
                       data-tooltip="N5E.MovementConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.secondary}}</span>
                    </footer>
                </li>
            </ul>
        </section>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="members">{{localize 'N5E.GroupMembers'}}</a>
        <a class="item" data-tab="inventory">{{localize 'N5E.GroupInventory'}}</a>
        <a class="item" data-tab="description">{{localize 'N5E.Description'}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab members" data-group="primary" data-tab="members">
            {{#each sections as |section id|}}
            <section class="directory" data-section="{{id}}">
                <header class="directory-header flexrow">
                    <h3 class="name">{{localize section.label}}</h3>
                    <span class="hp">{{localize "N5E.HitPoints"}}</span>
                    <span class="cp">{{localize "N5E.ChakraPoints"}}</span>
                    <span class="controls">{{localize "N5E.GroupControls"}}</span>
                </header>
                <ol class="members-list directory-list">
                    {{#each section.members as |member|}}
                    <li class="group-member directory-item flexrow" data-actor-id="{{member.id}}">
                        <div class="name flexrow">
                            <img class="thumbnail" src="{{member.img}}">
                            <h4 class="document-name"><a class="member-link">{{member.name}}</a></h4>
                        </div>
                        <div class="hp flexrow">
                            <div class="bar-container">
                                <div class="bar" style="width:{{member.hp.pct}}%; background:{{member.hp.color}}; border-color:{{member.hp.border}}"></div>
                            </div>
                            {{#if displayHPValues}}
                            <span class="current">{{member.hp.current}}</span>
                            <span class="sep">/</span>
                            <span class="max">{{member.hp.max}}</span>
                            {{/if}}
                        </div>
                        <div class="cp flexrow">
                            <div class="bar-container">
                                <div class="bar" style="width:{{member.cp.pct}}%; background:{{member.cp.color}}; border-color:{{member.cp.border}}"></div>
                            </div>
                            {{#if displayCPValues}}
                            <span class="current">{{member.cp.current}}</span>
                            <span class="sep">/</span>
                            <span class="max">{{member.cp.max}}</span>
                            {{/if}}
                        </div>
                        <div class="controls">
                            <a class="action-button" data-action="removeMember"><i class="fa-solid fa-close"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </section>
            {{/each}}
        </div>

        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "n5e.actor-inventory" sections=inventory}}
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor descriptionFull target="system.description.full" button=true editable=editable
                     engine="prosemirror" collaborate=false}}
        </div>

    </section>
</form>