<form autocomplete="off">
    <p class="notes">{{localize "N5E.MovementConfigHint"}}</p>
    {{#each speeds as |label id|}}
    <div class="form-group">
        <label>{{localize label}}</label>
        {{numberInput (lookup @root.movement id) name=(concat "system.attributes.movement." id) placeholder=0 step=0.1 min=0}}
    </div>
    {{/each}}
    {{#if selectUnits}}
    <div class="form-group">
        <label>{{localize "N5E.MovementUnits"}}</label>
        <select name="system.attributes.movement.units">
            {{selectOptions units selected=movement.units}}
        </select>
    </div>
    {{/if}}
    {{#if canHover}}
    <div class="form-group">
        <label>{{localize "N5E.MovementHover"}}</label>
        <input name="system.attributes.movement.hover" type="checkbox" {{checked movement.hover}}/>
    </div>
    {{/if}}
    <button type="submit"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>