<div class="polymorph two-column">
    <div class="left-column">
        <h3>{{localize 'N5E.PolymorphCustomTransformation'}}</h3>
        {{#each content.settings}}
            <div>
                <label class="checkbox" for="{{@key}}">
                    <input type="checkbox" id="{{@key}}" name="{{@key}}" {{checked (lookup ../content.options @key)}}>
                    {{this}}
                </label>
            </div>
        {{/each}}
        {{#unless content.isToken}}
        <hr>
        <div>
            <label class="checkbox" for="transformTokens">
                <input type="checkbox" id="transformTokens" name="transformTokens"
                    {{checked content.options.transformTokens}}>
                {{localize 'N5E.PolymorphTokens'}}
            </label>
        </div>
        {{/unless}}
    </div>
    <div class="right-column">
        <h3>{{localize 'N5E.PolymorphEffectTransformation'}}</h3>
        {{#each content.effectSettings}}
        <div>
            <label class="checkbox" for="{{@key}}">
                <input type="checkbox" id="{{@key}}" name="{{@key}}" {{checked (lookup ../content.options @key)}}>
                {{this}}
            </label>
        </div>
        {{/each}}
    </div>
</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>