
<form autocomplete="off">
    <p class="notes">{{localize "N5E.ProficiencyConfigurationHint"}}</p>
    <div class="form-group">
        <label>{{localize "N5E.ProficiencyLevel"}}</label>
        <select name="system.{{property}}.{{key}}.value" data-dtype="Number">
            {{selectOptions proficiencyLevels selected=entry.value}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "N5E.AbilityModifier"}}</label>
        <select name="system.{{property}}.{{key}}.ability">
            {{selectOptions abilities selected=entry.ability labelAttr="label"}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "N5E.CheckBonus"}}</label>
        <input name="system.{{property}}.{{key}}.bonuses.check" type="text" value="{{entry.bonuses.check}}">
    </div>
    {{#if isSkill}}
    <div class="form-group">
        <label>{{localize "N5E.SkillBonusPassive"}}</label>
        <input name="system.skills.{{key}}.bonuses.passive" type="text" value="{{entry.bonuses.passive}}">
    </div>
    <hr>
    <div class="form-group">
        <label>{{localize "N5E.BonusAbilitySkill"}}</label>
        <input name="system.bonuses.abilities.skill" type="text" value="{{bonusGlobal}}">
        <p class="notes">{{localize "N5E.SkillGlobalBonusCheckHint"}}</p>
    </div>
    {{/if}}
    <button type="submit"><i class="far fa-save"></i> {{localize "Submit"}}</button>
</form>