<form autocomplete="off">
    <p class="notes">{{localize "N5E.SensesConfigHint"}}</p>
    {{#each senses as |sense name|}}
    <div class="form-group">
        <label>{{sense.label}}</label>
        <input name="system.attributes.senses.{{name}}" type="number" step="0.1" value="{{sense.value}}"/>
    </div>
    {{/each}}
    <div class="form-group">
        <label>{{localize "N5E.MovementUnits"}}</label>
        <select name="system.attributes.senses.units">
            {{selectOptions movementUnits selected=units}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "N5E.SenseSpecial"}}</label>
        <input type="text" name="system.attributes.senses.special" value="{{special}}"/>
    </div>
    <button type="submit"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>