<form autocomplete="off" onsubmit="event.preventDefault();">
    {{> "n5e.trait-list" prefix="choices"}}

    {{#if customPath}}
        <div class="form-group stacked">
            <label>{{localize "N5E.TraitSelectorSpecial"}}</label>
            <input type="text" name="{{customPath}}" value="{{custom}}">
        </div>
    {{/if}}

    {{#if bypassesPath}}
        <h3>{{localize "N5E.DamagePhysicalBypass"}}</h3>
        <p class="note">{{localize "N5E.DamagePhysicalBypassHint"}}</p>
        {{> "n5e.trait-list" choices=bypasses prefix="bypasses"}}
    {{/if}}

    <button type="submit"><i class="far fa-save"></i> {{localize "N5E.TraitSave"}}</button>
</form>