<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.ItemName' }}">
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.consumableTypes system.consumableType }}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'N5E.Source' }}">
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "N5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "N5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "N5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "n5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "N5E.ItemConsumableDetails" }}</h3>

            {{!-- Consumable Type --}}
            <div class="form-group">
                <label>{{ localize "N5E.ItemConsumableType" }}</label>
                <select name="system.consumableType">
                    {{selectOptions config.consumableTypes selected=system.consumableType}}
                </select>
            </div>

            {{!-- Consumable Status --}}
            <div class="form-group stacked">
                <label>{{ localize "N5E.ItemConsumableStatus" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}> {{ localize "N5E.Equipped" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="system.identified" {{checked system.identified}}> {{ localize "N5E.Identified" }}
                </label>
            </div>

            {{#if (eq system.consumableType "ammo")}}
            {{!-- Consumable Properties --}}
            <div class="form-group stacked weapon-properties">
                <label>{{ localize "N5E.ItemAmmoProperties" }}</label>
                {{#each config.physicalWeaponProperties as |name prop|}}
                <label class="checkbox">
                    <input type="checkbox" name="system.properties.{{prop}}" {{checked (lookup ../system.properties prop)}}> {{ name }}
                </label>
                {{/each}}
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "N5E.ItemConsumableUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "n5e.item-activation"}}
            {{#if system.activation.type}}
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="system.uses.autoDestroy" {{checked system.uses.autoDestroy}}> {{ localize "N5E.ItemDestroyEmpty" }}
                </label>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "N5E.ItemConsumableActivation" }}</h3>

            {{!-- Item Action Template --}}
            {{> "n5e.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "n5e.active-effects"}}
        </div>
    </section>
</form>