<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{labels.featType}}
                </li>
                <li>
                    <input type="text" name="system.requirements" value="{{system.requirements}}" placeholder="{{ localize 'N5E.Requirements' }}"/>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'N5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "N5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "N5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "N5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "n5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{localize "N5E.ItemFeatureDetails"}}</h3>

            {{!-- Feature Type --}}
            <div class="form-group">
                <label>{{localize "N5E.ItemFeatureType"}}</label>
                <select name="system.type.value">
                    {{selectOptions config.featureTypes selected=system.type.value blank="" labelAttr="label"}}
                </select>
            </div>

            {{#if featureSubtypes}}
            <div class="form-group">
                <label>
                    {{localize "N5E.ItemFeatureSubtype"
                        category=(lookup (lookup config.featureTypes system.type.value) "label")}}
                </label>
                <select name="system.type.subtype">
                    {{selectOptions featureSubtypes selected=system.type.subtype blank=""}}
                </select>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "N5E.FeatureUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "n5e.item-activation"}}

            {{!-- Recharge Requirement --}}
            {{#if system.activation.type}}
            <div class="form-group recharge">
                <label>{{ localize "N5E.FeatureActionRecharge" }}</label>
                <div class="form-fields">
                    <span>{{ localize "N5E.FeatureRechargeOn" }}</span>
                    {{numberInput system.recharge.value name="system.recharge.value"
                        placeholder=(localize "N5E.FeatureRechargeResult")}}
                    <label class="checkbox">
                        {{ localize "N5E.Charged" }}
                        <input type="checkbox" name="system.recharge.charged" {{checked system.recharge.charged}}/>
                    </label>
                </div>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "N5E.FeatureAttack" }}</h3>

            {{!-- Item Action Template --}}
            {{> "n5e.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "n5e.active-effects"}}
        </div>

        {{!-- Advancement Tab --}}
        {{> "n5e.item-advancement"}}
    </section>
</form>