<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.JutsuName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{labels.rank}}
                </li>
                <li>
                    {{labels.class}}
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'N5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "N5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "N5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "N5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "n5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "N5E.JutsuDetails" }}</h3>

            {{!-- Jutsu Rank --}}
            <div class="form-group">
                <label>{{ localize "N5E.JutsuRank" }}</label>
                <select name="system.rank" data-dtype="Number">
                    {{#select system.rank}}
                    {{#each config.jutsuRanks as |name rnk|}}
                    <option value="{{rnk}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Jutsu Classification --}}
            <div class="form-group">
                <label>{{ localize "N5E.JutsuClass" }}</label>
                <select name="system.class">
                    {{selectOptions config.jutsuClasses selected=system.class blank=""}}
                </select>
            </div>

            {{!-- Jutsu Components --}}
            <div class="jutsu-components form-group stacked">
                <label>{{ localize "N5E.JutsuComponents" }}</label>
                {{#each jutsuComponents as |component key|}}
                <label class="checkbox">
                    <input type="checkbox" name="system.components.{{key}}" {{checked (lookup ../system.components key)}}>
                    {{component.label}}
                </label>
                {{/each}}
            </div>

            {{!-- Jutsu Keywords --}}
            <div class="jutsu-keywords form-group stacked">
                <label>{{ localize "N5E.JutsuKeywords" }}</label>
                {{#each jutsuKeywords as |keyword key|}}
                <label class="checkbox">
                    <input type="checkbox" name="system.keywords.{{key}}" {{checked (lookup ../system.keywords key)}}>
                    {{keyword.label}}
                </label>
                {{/each}}
            </div>

            {{!-- Material Components --}}
            <div class="form-group stacked">
                <label>{{ localize "N5E.JutsuMaterials" }}</label>
                <input class="materials" type="text" name="system.materials.value" value="{{system.materials.value}}"/>
                {{#if system.materials.value}}
                <div class="jutsu-materials flexrow">
                    <label>{{ localize "N5E.Supply" }}</label>
                    {{numberInput system.materials.supply name="system.materials.supply" placeholder="0"}}
                    <label>{{ localize "N5E.CostRyo" }}</label>
                    {{numberInput system.materials.cost name="system.materials.cost" placeholder="&mdash;"}}
                    <label>{{ localize "N5E.Consumed" }}</label>
                    <input type="checkbox" name="system.materials.consumed" {{checked system.materials.consumed}}/>
                </div>
                {{/if}}
            </div>

            <h3 class="form-header">{{ localize "N5E.JutsuCastingHeader" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "n5e.item-activation"}}

            <h3 class="form-header">{{ localize "N5E.JutsuEffects" }}</h3>

            {{!-- Item Action Template --}}
            {{> "n5e.item-action"}}

            <div class="form-group">
                <label>{{ localize "N5E.BaseRank" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.baseRank" value="{{system.rank}}"/>
                </div>
            </div>

            {{!-- Jutsu Scaling --}}
            <div class="form-group">
                <label>{{ localize "N5E.Scaling" }}</label>
                <div class="form-fields">
                    <select name="system.scaling.mode">
                        {{#select system.scaling.mode}}
                        {{#each config.jutsuScalingModes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <input type="text" name="system.scaling.formula" value="{{system.scaling.formula}}"
                           placeholder="{{ localize 'N5E.ScalingFormula' }}" data-formula-editor/>
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "N5E.UpcastCost" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.upcastCost" value="{{system.upcastCost}}"/>
                </div>
            </div>
            
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "n5e.active-effects"}}
        </div>
    </section>
</form>